.u2{
        text-transform:uppercase;
        font-size:30px;
      }

/*Packages*/
#packages{
        text-align:center;
        padding:3% 3%;
}
.EL{
        margin-top: 3%;
}
.PL{
        margin-top: 3%;
}
.UI-UX{
        margin-top:3%;
}